<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th>TITULO</th>
      <th>DATA DE PUBLICAÇÃO</th>
      <th>AUTOR</th>
      <th>CATEGORIA</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let livro of livros">
      <td>{{livro.titulo}}</td>
      <td>{{livro.dataDePublicacao}}</td>
      <td>{{livro.autorDTO.nome}}</td>
      <td>{{livro.categoriaDTO.descricao}}</td>
      <td><button [routerLink]="[ '/livro/alterar/', livro.id ]" class="btn btn-outline-success">ALTERAR</button></td>
      <td><button (click)="excluir(livro.id)" class="btn btn-outline-danger">EXCLUIR</button></td>
    </tr>
  </tbody>
</table>